In [64]:
# for the below DataFrame create a column "Age Category" which classifies the ages a Minor, Adult or Senior
import pandas as pd
import numpy as np
data = {"Age":[12,13,14,23,32,52,27,12,75,45]}
df = pd.DataFrame(data)
d = list(data.values())
data2 = []
for i in d:
    if i in data.values():
        d = i
for i in d:
    if i <18:
        data2.append("Minor")
    elif i >= 18 and i < 50:
        data2.append("Adult")
    else:
        data2.append("Senior")
data3 = {"Category":data2}       
df2 = pd.DataFrame(data3)
print(df)
print(df2)

   Age
0   12
1   13
2   14
3   23
4   32
5   52
6   27
7   12
8   75
9   45
  Category
0    Minor
1    Minor
2    Minor
3    Adult
4    Adult
5   Senior
6    Adult
7    Minor
8   Senior
9    Adult

In [73]:
df+df2

   Age Category
0  NaN      NaN
1  NaN      NaN
2  NaN      NaN
3  NaN      NaN
4  NaN      NaN
5  NaN      NaN
6  NaN      NaN
7  NaN      NaN
8  NaN      NaN
9  NaN      NaN

In [6]:
# Write a NumPy program to change two array axes.
# sample array [[1,2,3]]
# expected output
#  [[1]
#   [2]
#   [3]]

nu = np.array([[1,2,3]])
nu.reshape(3,1)

array([[1],
       [2],
       [3]])

In [14]:
# Write a NumPy program to sum all the multiples of 3 or 5 below 100.
a = 0
arr = np.arange(101)
for i in arr:
    if i%3==0 or i%5==0:
        a+=i
print(a)

2418