In [8]:
# Find the numbers that are multiple of 3 from a given series.
import pandas as pd
a = pd.Series([5,2,4,6,7])
b = [i for i in a if i%3==0]
print(a)
b

0    5
1    2
2    4
3    6
4    7
dtype: int64

[6]

In [7]:
# Find the numbers that are multiple of 3 from a given series.
import pandas as pd
a = pd.Series([5,2,4,6,7])
a[a%3==0]

3    6
dtype: int64

In [12]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0,4,8,14,20]
ser.iloc[[0,4,8,14,20]]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [44]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0,4,8,14,20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [100]:
# Reverse the values of each row of a DataFrame containing 2 columns and 5 rows
df = pd.DataFrame([['hello','world'],['data','science'],['py','thon'],['jupyter','notebook'],['machine','learning']])
df

         0         1
0    hello     world
1     data   science
2       py      thon
3  jupyter  notebook
4  machine  learning

In [117]:
df[:]=df[:][::-1]
df

          0        1
0     world    hello
1   science     data
2      thon       py
3  notebook  jupyter
4  learning  machine