# Type casting

- int()
- float()
- bool()
- complex()
- str()
- list()
- tuple()
- dict()
- set()

In [1]:
a = 20
float(a)

20.0

In [2]:
b = 34.6
int(b)

34

In [3]:
c = 23j
int(c)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [4]:
d = 33j
float(d)

TypeError: float() argument must be a string or a real number, not 'complex'

In [5]:
e = 36j
str(e)

'36j'

In [6]:
f = 45
str(f)

'45'

In [7]:
g = 'rishi'
int(g)

ValueError: invalid literal for int() with base 10: 'rishi'

In [8]:
str("1")

'1'

In [9]:
str("abc")

'abc'

In [13]:
int("1")

1

In [12]:
type(int("1"))

int

In [11]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

# Escape sequences

CODE                                      RESULT
-     \'                             - Single quote
-   \\                             - Backslash
-   \n                             - New Line
-   \b                             - Bacskpace
-   \t                             - Tab
-   \r                             - Carriage Return

In [17]:
print(''python'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (107405224.py, line 1)

In [33]:
print('\'python\'')

'python'

In [19]:
print('''python'')

SyntaxError: incomplete input (4027521966.py, line 1)

In [22]:
print("PYTHON
      Data science")

SyntaxError: unterminated string literal (detected at line 1) (2378476496.py, line 1)

In [4]:
print('''python
      Data Science''')

python
      Data Science

In [30]:
print("\n") # trying to print new line character

In [31]:
print("\\n") # double slash prints single slash. therefore we get \n printed

\n

In [1]:
float(20)

20.0

In [2]:
int(34.56)

34

In [4]:
type(int('20'))

int

In [1]:
print('\\') # double backslash returns single slash

\

In [2]:
print('my name is rishi')
'''hello, this is a class of python'''

my name is rishi

'hello, this is a class of python'

In [5]:
print('hello my name \' rishi singh \' this is a class of python')

hello my name ' rishi singh ' this is a class of python

In [6]:
print('hello my name rishi singh this is a class of python')

hello my name rishi singh this is a class of python

In [10]:
print('hello, my name is r \bishi singh') # using backslash b

hello, my name is r ishi singh

In [11]:
print('hello, my name is r  \b\bishi singh')

hello, my name is r  ishi singh

In [12]:
print('hello, my name is \t rishi singh') # using tab

hello, my name is 	 rishi singh

In [13]:
print('hello, my name is \t\t rishi singh')

hello, my name is 		 rishi singh

In [14]:
print('hello, my name is \r rishi singh')

 rishi singh

In [16]:
print('right now \b im in the class of \t\n \'data science\'') # using escape sequence

right now  im in the class of
 'data science'

In [17]:
print('hello, my name is \r rishi singh')

 rishi singh

In [18]:
bool(20.9)

True

In [19]:
complex(True)

(1+0j)

In [23]:
bool('rishi') # because we are not lying as we have given quotaion mark

True

In [21]:
float(35)

35.0

In [22]:
bool(rishi)

NameError: name 'rishi' is not defined

In [24]:
print('\\n')

\n

In [25]:
print('python\b')

python

In [26]:
print('python\b\b')

python

In [28]:
print('python\b\b\b') # when odd number of times backspace is given continously it removes one character
                     # in even numbers it removes two character

python

In [30]:
print('py\bt\bh\bo\bn\b')

python

In [31]:
print('i am\t learning python')

i am	 learning python

In [33]:
print("PYTHON\rDATA") # carriage return example

DATA

In [34]:
print("PYTHON\rDATALE") # carriage return 
                      # here It is now equal character of PYTHON

DATALE

In [35]:
print("PYTHON\rDATALEF") # now it forgets python and took extra character - DATALEF

DATALEF

In [36]:
print("PYTHON\rDATA\rHE")

HE

In [39]:
print('DATAON\rHE')

HE

In [40]:
print("HELLO\rHAVE\rWORD")

WORD

# Non Primitive Data Type /  Data Structure Data Type 
- non primitive data types are also called Data Structures.
- In data structures primitive and non primitive data types can both be stored in a sequence or structure.

# List

In [17]:
y = ['str', 'hello', True, [1, 2, [1, 2, 3, 4]]]
x = y[3]
q = x[2]
print(q[0])

# another method

print(y[3][0])

print(len(y))
print(len(y[3]))
print(len(y[3][2]))

1
1
4
3
4

In [22]:
e = ['rishi','rohit', 1 ,1, 2 , 2,[2, 'gaurav', 'hello',[ 'hello', 'hello']]]
e.count(6)

0

In [ ]:
# list striding , slicing etc are as same as string

In [24]:
print(y.endswith(True))

AttributeError: 'list' object has no attribute 'endswith'

In [25]:
print(y.split('hello'))

AttributeError: 'list' object has no attribute 'split'

In [2]:
print(y.endswith([1,2, [1,2,3,4]]))

AttributeError: 'list' object has no attribute 'endswith'

In [28]:
print(y.find('hello'))

AttributeError: 'list' object has no attribute 'find'

In [42]:
# List Methods

# list.append(item) - add a single item at the end of the list
x = [1,2]
x.append(123) # can take any data type
print(x)
x.append(['rishi',1,2,3]) # adds the list at the end
print(x)

# .extend(iterable) -  can take only iterable data types
# iterable - strings, list, tuples, set, dictionary
lst = [1,2,3]
lst.extend('hello')
print(lst)
lst.extend(["hello",1,2,3]) # extend the current list with elements in the argument

# .remove()

# .count()

[1, 2, 123]
[1, 2, 123, ['rishi', 1, 2, 3]]
[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [41]:
lt = ['rishi',1,2,'rohit',3,4,'gaurav']
lt.append(['    ','hello','world'])
print(lt)
lt.extend(['    ','hello','world'])
print(lt)

lt = ['rishi',1,2,'rohit',3,4,'gaurav']
lt.extend(['    ','hello','world'])
print(lt)

['rishi', 1, 2, 'rohit', 3, 4, 'gaurav', ['    ', 'hello', 'world']]
['rishi', 1, 2, 'rohit', 3, 4, 'gaurav', ['    ', 'hello', 'world'], '    ', 'hello', 'world']
['rishi', 1, 2, 'rohit', 3, 4, 'gaurav', '    ', 'hello', 'world']

In [11]:
lt = ['rishi',1,2,'rohit',3,4,'gaurav',1,'rishi']
lt.remove('rishi')
print(lt)
lt.remove('rishi')
print(lt)

[1, 2, 'rohit', 3, 4, 'gaurav', 1, 'rishi']
[1, 2, 'rohit', 3, 4, 'gaurav', 1]

In [15]:
h = ['rishi',1,3,4,'roshit',6,7,8]
print(type(h))

<class 'list'>

In [20]:
h = ['rishi',1,3,4,['roshit',6,7,8]] # append function
h.append(9)
print(h)
h.append(['my','name',22,44,55])
h

['rishi', 1, 3, 4, ['roshit', 6, 7, 8], 9]

['rishi', 1, 3, 4, ['roshit', 6, 7, 8], 9, ['my', 'name', 22, 44, 55]]

In [22]:
h = ['rishi',1,3,4,['roshit',6,7,8]]
h.extend(['my','name',22,44,55])
h

['rishi', 1, 3, 4, ['roshit', 6, 7, 8], 'my', 'name', 22, 44, 55]

In [25]:
g = [1,2,[3,4,5,6,7,[1,2,3,4,5,6,7]]]
g[2][4]

7

In [2]:
g = [1,2,[3,4,5,6,7,['hello',1,1,2,2,3,4,5,6,7]]]
print(id(g))
r = g[0:2]
a = g[2]
c = a[0:5]
b = g[2][5]
g = r
g.extend(c)
g.extend(b)
g.remove('hello')
print(g)
print(id(g))

2360242297088
[1, 2, 3, 4, 5, 6, 7, 1, 1, 2, 2, 3, 4, 5, 6, 7]
2360241942976

In [1]:
g = [1,2,[3,4,5,6,7,['hello',1,1,2,2,3,4,5,6,7]]]
print(id(g))
r = g[0:2]
a = g[2]
c = a[0:5]
b = g[2][5]
g = r
g.extend(c)
g.extend(b)
g.split('hello')
print(g)
print(id(g))

2360213864896

AttributeError: 'list' object has no attribute 'split'

In [21]:
g = ['rishi','rishi',1,2,3,3,6,3]
g.count(g[1])

2

In [30]:
# .sort()- only works with integers and gives list in ascending order
# lst.sort(reverse=True) - gives list in descending order

lst = [1,2,3,4,2,4,5,6,3,23,6,7,8.7]
lst.sort()
print(lst)
print(lst.sort(reverse=True)) # gives none with print?
print(lst)
print('\n')
lst = [1,2,3,4,2,'rishi',4,5,6,3,23,6,7,8.7]- #does not work with string
lst.sort()
print(lst)

[1, 2, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8.7, 23]
None
[23, 8.7, 7, 6, 6, 5, 4, 4, 3, 3, 2, 2, 1]

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
# x.reverse() - it reverses the order of the list

v = ['rishi','rohan',23,'rahul']
v.reverse()
print(v)

['rahul', 23, 'rohan', 'rishi']

In [3]:
v = ['rishi','rohan',23,'rahul']
v.clear()
print(v)

[]

In [10]:
v = ['rishi','rohan',23,'rahul'] 
v.insert(2,33) # first argument will be the index no and second item to be added
print(v)

['rishi', 'rohan', 33, 23, 'rahul']

# Tuple
- Group of any data type seperated by , iside or outside () are tuple
- .count() can be used with tuple
- .index()- it will give the index number of the argument where it first occured

In [41]:
#example

x = (1,3,'rishi',True)
print(type(x))
x = (1)
print(type(x))
x = (1,'rishi')
print(type(x))
x = 1,2
print(type(x))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [12]:
# .index()

z = ['rishi',5,2,4,2,5,7]
print(z.index(2))
print(z.index(5))

2
1

In [51]:
x = 12 
id(x)
x

12

In [47]:
x = 23
id(x)

2189660980144

In [48]:
x = [34]
id(x)

2189770410624

# Mutable Data Types
An object that allows you to change its values without changing its identity is a mutable object
- list
- set
- dictionaries

In [63]:
x = ['rishi',1,2]
id(x)

2189770916096

In [64]:
x.remove('rishi')
print(x)
id(x)

[1, 2]

2189770916096

In [65]:
x = [1,2,3,4,5,6,7,8] # have to sort and reverse 4,5,6,7,8         ?
                      # remove 4 with del

In [4]:
x = [1,2,3,4,5,6,7,8]
a = x[3:]
a.sort(reverse=True)
print(a)

[8, 7, 6, 5, 4]

In [6]:
# remove 4 with dell

x = [1,2,3,4,5,6,7,8]
del(x[3])
print(x)

[1, 2, 3, 5, 6, 7, 8]

In [8]:
d = [1,2,[3,4,5,6,7,['hello',1,1,2,2,3,4,5,6,7]]]
del(d[2][5][0])
print(d)

[1, 2, [3, 4, 5, 6, 7, [1, 1, 2, 2, 3, 4, 5, 6, 7]]]

In [14]:
n = ['rihsi',2,3,4,5,'rohit',4,3,6,'gaurav']
print(id(n))
n.remove('rohit')
print(n)
print(id(n))

2162952331328
['rihsi', 2, 3, 4, 5, 4, 3, 6, 'gaurav']
2162952331328

In [20]:
r = ('rihsi',2,3,4,5,'rohit',4,3,6,'gaurav')
print(id(r))

2162953162304

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
w = ['5867','857','937']

# Object

# All data in a python program is represented by objects
# Every object has an identity(address, memory location), a type and a value.
- An object's type determines the operations that the object supports and also defines the possible values for objects of that type.
- you can tell the possible value for objects and also know about the operations which can be supported by that objects type
- The value of some objects can CHANGE. Objects whose value can change are said to be mutable; objects whose value is unchangeable once they are created are called IMMUTABLE.

# An object that alllows you to change its value without changing its identity is a mutable object

In [8]:
''' MUTABLE---the id or location or addres of a list never changes even if the same list elements
are edited(appended or extended)'''

list = [12,'rishi',3,4,2]
z = list.append('hello')
print(list)
print(z)
print(id(list))
print(id(z))

[12, 'rishi', 3, 4, 2, 'hello']
None
2429178314432
140733904023232

In [11]:
x = 67
print(id(x))
x = 45
print(id(x))

print('\n')


x = 88
print(id(x))
x = 88
print(id(x))

2429098068272
2429098067568


2429098068944
2429098068944

In [12]:
x = [34]
print(id(x))
x = [56]
print(id(x))

print('\n')

x = [44]
print(id(x))
x = [44]
print(id(x))

2429178316672
2429178317184


2429177502080
2429178315968

# Sets
1. Unordered:- The items in the set are unordered, i.e., it will not maintain the order in which the items are inserted.
2. Unindexed:- Set items are unindexed
3. Unique:- There cannot be two items with the same value in the set.
4. Set items must be immutable:- We cannot change the set items
5. Sets are mutable

Set is mutable but its elements are immutable to preserve the uniquenes of its elemtnts.

In [13]:
# Sets

x = {1,2,3}
x

{1, 2, 3}

In [21]:
# Set methods
x = {1,2,3}
x
# .add(item)  -  just like .append()
x.add(45)
print(x)
# .update(iterable) - like .extend(). only iterables(string, list, set, tuples, dictionary)
x.update('rishi')
print(x)
# .remove()
x.remove(45)
print(x)

{1, 2, 3, 45}
{1, 2, 3, 's', 'r', 45, 'h', 'i'}
{1, 2, 3, 's', 'r', 'h', 'i'}

In [1]:
# union
a = {1,2,3}
b = {1,2,3,4}
print(a.union(b))
print(a) # but the value of a remains same
a.update(b) # we can use update method to aplly changes on a
print(a)

print('\n')

# Intersection

a = {1,2,3,6,7,8}
b = {1,2,3,4}
print(a.intersection(b))
print(a)
a.intersection_update(b)
print(a)

print('\n')

# Difference

x = {"rishi",'hello',True,1}
y = {1,2,3,"Hello","str"}
x.difference(y)
x.difference_update(y)
print(x)

print('\n')

# Symmetric Difference

x = {"rishi",'hello',True,1}
y = {1,2,3,"Hello","str"}
x.symmetric_difference(y)
x.symmetric_difference_update(y)
print(x)

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4}


{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3}


{'hello', 'rishi'}


{2, 3, 'rishi', 'Hello', 'str', 'hello'}

In [16]:
a = {1,2,3}
b = {1,2,3,4}
print(id(a))
print()

2879209931712
2879209935072
{1, 2, 3}
2879209931712

In [17]:
a = {1,2,3,6,7,8}
b = {1,2,3,4}
print(id(a))
print(id(a.intersection(b)))
print(id(a.intersection_update(b)))

2879209933952
2879179976128
140728691289792

In [21]:
a = {1,2,3,6,7,8}
b = {1,2,3,4}
z = a.intersection(b)
k = a.intersection_update(b)
print(z)
print(k)
print(id(z))
id(k)

{1, 2, 3}
None
2879209930816

140728691289792

# Subset and Superset
Superset must have all the values of subset

In [22]:
p = {1,2,3,4,5}
q = {1,2,3}
print(p.issubset(q))
print(p.issubset(p))
print(q.issubset(p))

False
True
True

In [23]:
p = {1,2,3,4,5}
q = {1,2,3}
print(p.issuperset(q))
print(p.issuperset(p))
print(q.issuperset(p))

True
True
False

# Disjoint

In [26]:
p = {1,2,3,4,5}
q  = {6,7,8}
print(p.isdisjoint(q))
print(p.isdisjoint(p))

True
False

# Sets methods

In [3]:
# finding length of the set

a = {1,2,3}
len(a)

3

In [4]:
# minimum and maximum values

a = {1,2,3,4,5,78}
print(min(a))
print(max(a))

1
78

In [11]:
a = {'a','b','c','d'}
print(min(a))
print(max(a))
print('\n')
a  = {'A','a'} # the value of lower case letter is higher
print(max(a))
print('\n')
a = {'a','b'}
print(max(a))
print(min(a))

a
d


a


b
a

In [13]:
# adding all the values inside a set

x = {True,22,45,66}
print(sum(x))

134

In [15]:
x = {True,22,45,66}
x.discard(22)
print(x)

{True, 66, 45}

In [17]:
x = {True,22,45,66}
x.remove(22)
print(x)

{True, 66, 45}

In [18]:
x = {True,22,45,66}
x.remove(46)
print(x)

KeyError: 46

In [20]:
x = {True,22,45,66}
x.discard(46)
print(x)

{True, 66, 45, 22}

# Dictonaries

<fontsize8> Dictionaries are ordered collections of unique items stored in (key-value) pairs. Key and value pair are treated as single item.

1. Ordered: Dictionaries are ordered, which means that the items have a defined order, and that order will not change.
2. Unique: The keys in dictionaries should be unique. If we store any value with a key that already exixts, then the most recent value will replace the old value
3. Keys must be of immutable data type
4. Mutable

In [9]:
x = {"apple":23,"banana":56}
print(x['apple'])

23

In [5]:
x = {'apple':67,56:True, "tuple":(1,2,3)}
print(x)

{'apple': 67, 56: True, 'tuple': (1, 2, 3)}

In [15]:
x = {'apple':67,56:True, "tuple":(1,2,3)}
print(x)

{'apple': 67, 56: True, 'tuple': (1, 2, 3)}

In [18]:
v = {(1,2):'rishi',(1,2):67,(1,2):'hello'
    }
print(v)

{(1, 2): 'hello'}

In [17]:
v = {['rishi']:56} # unhashable type means mutable type

TypeError: unhashable type: 'list'

In [57]:
# empty set
a = set()
type(a)

set

# Accesing items in a dictionary

In [28]:
# Accesing items in a dictionary
a = {'india':'delhi','us':'washington'}

# keys
print(a.keys())

print('\n')

# values
print(a.values())

print('\n')

# items
print(a.items())

dict_keys(['india', 'us'])


dict_values(['delhi', 'washington'])


dict_items([('india', 'delhi'), ('us', 'washington')])

In [15]:
a = {'india':'delhi','us':'washington'}
print(a.keys('delhi'))

TypeError: dict.keys() takes no arguments (1 given)

In [31]:
print(type(a.keys()))
print(type(a.values()))
print(type(a.items()))

<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>

In [33]:
# key value assignment
print(a)

{'india': 'delhi', 'us': 'washington'}

In [34]:
a['pakistan'] = 'islamabad'
print(a)

{'india': 'delhi', 'us': 'washington', 'pakistan': 'islamabad'}

In [2]:
# .update()
a.update({'england':'london'})
print(a)

NameError: name 'a' is not defined

# removing items from a dictionary

In [22]:
# .popitem() - returns and removes the last inserted item from the dictionary.
a = {'india': 'delhi', 'us': 'washington', 'pakistan': 'islamabad', 'england': 'london'}
x = a.popitem()
print(a.keys())
print(a)
print(x)

dict_keys(['india', 'us', 'pakistan'])
{'india': 'delhi', 'us': 'washington', 'pakistan': 'islamabad'}
('england', 'london')

In [10]:
a = {'india': 'delhi', 'us': 'washington', 'pakistan': 'islamabad', 'england': 'london'}

AttributeError: 'dict' object has no attribute 'key'

In [45]:
# .pop() - removes the item with the key and return its value
a.pop('us')

'washington'

In [46]:
a

{'india': 'delhi', 'pakistan': 'islamabad'}

In [47]:
# del
print(a)
del a['pakistan']
print(a)

{'india': 'delhi', 'pakistan': 'islamabad'}
{'india': 'delhi'}

In [50]:
# dictionary inside dictionary  ( is also called nested dictionary )
g = {'rishi':{'hello':45,'number':True,88:'hello'},'python':3}
print(g)

{'rishi': {'hello': 45, 'number': True, 88: 'hello'}, 'python': 3}

In [51]:
g['rishi']

{'hello': 45, 'number': True, 88: 'hello'}

NameError: name 'a' is not defined

# Range

**Range object (or range data type) is an immutable sequence of integers starting from the given start integer to the stop integer**

In [3]:
# range (start, stop, step)
x = range(1,11,2)
x[3]

7

In [3]:
# let us check the data type of range object
type(range(1,10))

range

In [4]:
# range indexing
range_x = range(1,10)
range_x[0]

1

In [5]:
# typecasting
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
# what happens when i pass only one argument in range()
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
str(range(30))  # as it is an sequence so the output includes 0 in it

'range(0, 30)'

In [ ]:
# square each number inside a list and finally print it
a = [1,2,3,4,5]
b = 0
for i in a:
    b = [i**2]
    a.append(i)
print(a)

In [2]:
print(a)

[1, 25, 49, 64, 625, 4096, 16777216]

In [20]:
f = {1:'hello',2:'rishi',3:'rohit',4:'hello'}
f.popitem
f

{1: 'hello', 2: 'rishi', 3: 'rohit'}

In [5]:
h = [2,3,4,5]
tuple(h)

(2, 3, 4, 5)