In [1]:
print('klfgkkfdlihhdfkllkdfg')

klfgkkfdlihhdfkllkdfg

In [2]:
print('r+i+s+h+i')

r+i+s+h+i

In [4]:
print('r'+'i'+'s'+'h'+'i')

rishi

In [5]:
2+2

4

In [6]:
'a'+'n'

'an'

In [8]:
print('ri'+'s'                                  +'hi')

rishi

In [9]:
print('r'+'i'; 's'+'h'+'i')

SyntaxError: invalid syntax (269129433.py, line 1)

In [11]:
print('h')

h

In [16]:
print('rishi'                 +                'gaurav')

rishigaurav

In [17]:
print('r'+8)

TypeError: can only concatenate str (not "int") to str

In [19]:
print(8+'r')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
print('4'+5)

TypeError: can only concatenate str (not "int") to str

In [21]:
print('4'+'5')

45

In [22]:
print(9+4+'t') # hello my name is rishi singh

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Comments

In [23]:
# hello my name is rishi

In [24]:
print('rishi')  # i am typing my name

rishi

In [27]:
# my name is # jkdjkdfj # ddflddlj

In [28]:
# hello
# my name

# Docstring

In [31]:
print('hello')
'''hello my name is
rishi singh and im 
in the 
class of data science'''

hello

'hello my name is\nrishi singh and im \nin the \nclass of data science'

In [41]:
"hfyf"\
'jkfh'

'hfyfjkfh'

In [39]:
x = 5+3+5+
7+5
print(x)

SyntaxError: invalid syntax (1161637398.py, line 1)

In [38]:
x = 5+4+5+
5+5
print(x)

SyntaxError: invalid syntax (2222333844.py, line 1)

In [42]:
=
+
-
/
//

SyntaxError: invalid syntax (3352604355.py, line 1)

In [44]:
5//3

1

In [45]:
5//2

2

In [46]:
5%2

1

In [47]:
5//2%2

0

# Variable

In [3]:
a = 10
print(id(a))
b = 10
print(id(b))

2020974133776
2020974133776

In [6]:
a = 20
b = 30
c = a
print(id(a),id(b),id(c))

2020974134096 2020974134416 2020974134096

# Type Casting

In [7]:
print(float(12))

12.0

In [8]:
print(type(12.0))

<class 'float'>

In [9]:
print(type(float(12)))

<class 'float'>

In [10]:
float(5j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [11]:
str(36j)

'36j'

In [12]:
str(45)

'45'

In [15]:
int('rishi')

ValueError: invalid literal for int() with base 10: 'rishi'

In [13]:
int('10')

10

In [16]:
int(5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# Escape Sequence

In [20]:
# single quote \'


print('hello sir, my name is \' Rishi \' ')

hello sir, my name is ' Rishi '

In [22]:
print('\'python\'')

'python'

In [25]:
print('\'')

'

In [26]:
# new line character

print('hello my name \
is rishi singh')

hello my name is rishi singh

In [32]:
print('\nhello\n my name is\n                                                 rishi')

hello
 my name is
                                                 rishi

In [36]:
# backspace escape sequence

print('r\bish  \bi')

rish  i

In [42]:
print('rishi\b\b\b\b')

rishi

In [43]:
# tab escape sequence

print('hello my name is \t\'rishi\'')

hello my name is 	'rishi'

In [46]:
print('gaurav\rrishhii')

rishhii

In [47]:
print('\\')

\

In [48]:
print('my name is \\rishi\\')

my name is \rishi\

In [49]:
bool(34.4)

True

In [50]:
bool(-45)

True

In [51]:
bool(0)

False

In [52]:
bool('rishi')

True

In [53]:
complex(5)

(5+0j)

In [54]:
bool(5j)

True

In [55]:
str('56')

'56'

In [56]:
a = 2
print(id(a))

2020974133520

In [58]:
a = b = c
print(id(a),id(b),id(c))

2020974134096 2020974134096 2020974134096

In [59]:
print(a)

20

In [60]:
del(a)

In [61]:
print(a)

NameError: name 'a' is not defined

In [1]:
print('hello')   '''jdlkjdflkjf'''

SyntaxError: invalid syntax (3658275029.py, line 1)

In [4]:
print(type(20))
'''kdflkjdflkjdfs'''
print('hello')

<class 'int'>
hello

In [5]:
print('rishi')
'''hello everyone'''

rishi

'hello everyone'

In [6]:
print('gaurav' + 'rishi')

gauravrishi

In [7]:
print('pushpendra\rgaurav')

gaurav

In [8]:
print('pushpendra\rgaurav\rrishi')

rishi

In [11]:
a = 20
print(type(id(a)))

<class 'int'>

In [14]:
print('hello my name is \
rishi singh')

hello my name is rishi singh

In [13]:
print('hello my name is 
      rishi singh')

SyntaxError: unterminated string literal (detected at line 1) (1359374929.py, line 1)

In [22]:
35+34+55+\
45+56+66+9

300

In [ ]:
//