# Input function

In python, using the input() function we take input from a user and using the print() we display output on the screen. Any data given in input is string

In [5]:
# take  value from user
print(type(input()))

56
<class 'str'>

In [28]:
b = input("even number :")
c = input("odd number :")
r = b+c
print(r)

even number :4
odd number :5
45

In [24]:
x = input(24)

24rishi

In [26]:
y = input(2+1)

3himanshu

In [27]:
q = input("employee number$ and tag number with @ sign")

employee number$ and tag number with @ sign$ 345 @ 25

In [25]:
x = input("employee name: ")

employee name: rishi

In [14]:
# Enter Your Age
age = input("Enter Your Age: ")

Enter Your Age: 25

In [2]:
# Using input function
comp = input('enter the number: ')

enter the number: rishi

In [5]:
name = input("enter your name: ")
print("hello,"+ name +"how are you")

enter your name: rishi
hello,rishihow are you

In [9]:
age = input("enter your age")
print("His age is\t" +age)

enter your age28
His age is	28

In [2]:
name = input("enter your name: ")
salary = input("enter your salary: ")
age = input("enter your age")
fathersname = input("enter fathers name")
location = input("enter your location")

print("\n")
print(name, salary, age)
print(fathersname, location)
print(type(salary))
print("\n")
print("hello, my name is "+name+" i am "+age+" years old "+" my fathers name is "+fathersname+" my salary is "+salary+" I am from "+location)

enter your name: Rishi Singh
enter your salary: 50000000000000
enter your age28
enter fathers nameKanchan Singh
enter your locationHaldwani


Rishi Singh 50000000000000 28
Kanchan Singh Haldwani
<class 'str'>


hello, my name is Rishi Singh i am 28 years old  my fathers name is Kanchan Singh my salary is 50000000000000 I am from Haldwani

In [16]:
#take three values from user
name = input("Enter Employe Name: ")
salary = input("Enter Salary: ")
company = input("Enter Company name: ")

# Display all values on screen
print("\n")
print("Printing Empoyee Details")
print("Name",name)
print("company",company)
print("Salary",salary)
type(print(name))

Enter Employe Name: nitin
Enter Salary: 6000000
Enter Company name: google


Printing Empoyee Details
Name nitin
company google
Salary 6000000
nitin

NoneType

In [4]:
input() #returns string

name: rishi

'name: rishi'

In [5]:
input() #returns string

44

'44'

In [6]:
input() #returns string

5j

'5j'

In [7]:
input() #returns string

45.78

'45.78'

In [9]:
input() #returns string

True

'True'

In [12]:
print("Printing Details")

input()
input()
input()

Printing Details
fdfdgh
456
hjj

'hjj'

In [13]:
x = input()

4

In [1]:
x = input("write even number:  ")

write even number4

In [2]:
print("Ques.1.\tTell me something about yourself?")
print("\n")
input("Ans.1.\t")

Ques.1.	Tell me something about yourself?


Ans.1.	Hello, my name is Rishi Singh

'Hello, my name is Rishi Singh'

In [3]:
print("rishi singh")

rishi singh

In [4]:
print("hem")

hem

In [5]:
print("ramesh chander")

ramesh chander

In [6]:
print("suresh chander")

suresh chander

In [7]:
print("dinesh singh")

dinesh singh

In [8]:
print("tushar singh")

tushar singh

In [9]:
print("erish")

erish

In [10]:
print("fish")

fish

In [11]:
print("suresh")

suresh

In [12]:
print("ganesh")

ganesh

In [17]:
x=input('even number:')
y=input('odd number:')
Z= x+y
print(Z)

even number:4
odd number:7
47

In [18]:
type(Z)

str

In [8]:
x = input("enter a number")
print(type(int(x)))

enter a number23
<class 'int'>

In [15]:
type(print(int(input("enter a number")))) # have to ask about the none type

enter a number45
45

NoneType

In [10]:
x = input("even number ")
y = input("odd number ")
z = x + y
print("\n")
print(z) 
print("\n")
print((z), type(int(z)), type(bool(z)), type(complex(z)), type(str(z)))

even number 4
odd number 5


45


45 <class 'int'> <class 'bool'> <class 'complex'> <class 'str'>

In [12]:
z = input("enter a number: ")
print((z),("\n"), type(int(z)), type(bool(z)), type(complex(z)), type(str(z)))

enter a number: 4
4
 <class 'int'> <class 'bool'> <class 'complex'> <class 'str'>

In [6]:
z = input("enter a number: ")
print((z),("\n"),int(z),("\t"),type(int(z)),("\n"),bool(z),("\t"),type(bool(z)),("\n"),complex(z),("\t"),type(complex(z)))

enter a number: 45
45
 45 	 <class 'int'>
 True 	 <class 'bool'>
 (45+0j) 	 <class 'complex'>

In [15]:
print(salary = int(input('enter the number: ')))

enter the number: 45

TypeError: 'salary' is an invalid keyword argument for print()

In [16]:
print(salary)

NameError: name 'salary' is not defined

In [17]:
print(int(input('enter salary: ')))

enter salary: 45
45

In [8]:

print(salary)

NameError: name 'salary' is not defined

In [7]:
del(salary)

In [13]:
print(type(int(input())))

67
<class 'int'>

In [2]:
x = input("what is your name: ")
y = input("where do you live: ")
z = input("what is your proffesion: ")
q = x + y + z
print(q) # this q is not english as we have already defined q as a string by storing x+y+z in above line

what is your name: Rishi Singh
where do you live:  Haldwani\n
what is your proffesion: Data Scientist
Rishi Singh Haldwani\n Data Scientist

In [4]:
name = input("Enter Employe Name: ")
salary = input("Enter Salary: ")
company = input("Enter Company name: ")

# Display all values on screen
print("\n")
print("Printing Empoyee Details")
print("Name",name)
print("company",company)
print("Salary",salary)
type(print(name))

Enter Employe Name: Rishi Singh
Enter Salary: 5000000
Enter Company name: vijai


Printing Empoyee Details
Name Rishi Singh
company vijai
Salary 5000000
Rishi Singh

NoneType

In [8]:
Car = input('name of the car: ')
Color = input('color of the car: ')
Price = input('price of the car: ')

print('\n''name of the car\t-',Car,"\n","color of the car\t-",Color,"\n","price of the car\t-",Price)
print('\n',type(Car),type(Color),type(str(Price)))

name of the car: Jaguar
color of the car: Z Black
price of the car: 5000000

name of the car	- Jaguar
 color of the car	- Z Black
 price of the car	- 5000000

 <class 'str'> <class 'str'> <class 'str'>

In [12]:
Name = 'Rishi'
flowers = complex(input("name of flowers: "))
print("\n")
print("name of flowers", Name)
print(type(flowers))

name of flowers: 66


name of flowers Rishi
<class 'complex'>

In [1]:
print('Name','\t','Physics','\t','Chemistry','\t','Maths')
print('Rishi','\t','99','\t','\t','99','\t','\t','99')
print('Gaurav','\t','99','\t','\t','99','\t','\t','99')
print('Rohit','\t','99','\t','\t','99','\t','\t','99')

Name 	 Physics 	 Chemistry 	 Maths
Rishi 	 99 	 	 99 	 	 99
Gaurav 	 99 	 	 99 	 	 99
Rohit 	 99 	 	 99 	 	 99

In [35]:
print('\'Name\'      |','\t','\'Physics\' |','\t','\'Chemistry\' |','\t','\'Maths\'')
print('________________________________________________________')
print('\'Rishi\'     |','\t','99        |','\t','99          |\t','99')
print('\'Gaurav\'    |','\t','99        |','\t','99          |\t','99')
print('\'Rohit\'     |','\t','99        |','\t','99          |\t','99')

'Name'      | 	 'Physics' | 	 'Chemistry' | 	 'Maths'
________________________________________________________
'Rishi'     | 	 99        | 	 99          |	 99
'Gaurav'    | 	 99        | 	 99          |	 99
'Rohit'     | 	 99        | 	 99          |	 99

In [11]:
#ques2. Take a 2 digit integer as input from the user. Print the digit ones place seperately
num = int(input("enter two digit integer: "))
mod = num%10
print("number at ones =",mod)

enter two digit integer: 67
number at ones = 7

In [7]:
# take two no.(positive integer) as input from the user. Add two numbers in this way- 25+59=2559
num = int(input("enter two digit integer: "))
num2 = int(input("enter two digit integer: "))
print(num,'+',num2,'=',str(num)+str(num2))

enter two digit integer: 34
enter two digit integer: 78
34 + 78 = 3478

In [5]:
# take any two numbers(two digit positive integers) as input from the user as 25,35 - 5*3+2*5 = 25
numb = int(input("enter two digit integer: "))
numb2 = int(input("enter two digit integer: "))
n = numb%8
n2 = numb2%10
n3 = numb%41
n4 = numb2%51
print(n3,'*',n2,'+',n,'*',n4,'=',n3*n2+n*n4)

enter two digit integer: 45
enter two digit integer: 56
4 * 6 + 5 * 5 = 49

In [13]:
numb = int(input("enter two digit integer: "))
n = numb%10/10
print(n)

enter two digit integer: 25
0.5

In [4]:
numb = int(input("enter two digit integer: "))
n = numb/10
n2 = num%10
print(n)

enter two digit integer: 25

NameError: name 'num' is not defined

In [4]:
numb = int(input("enter two digit integer: "))
numb2 = int(input("enter two digit integer: "))
n = numb%10
n2 = numb2%10
n3 = numb//10
n4 = numb2//10
print(n,'*',n4,'+',n2,'*',n3,'=',n*n4+n2*n3)

enter two digit integer: 45
enter two digit integer: 56
5 * 5 + 6 * 4 = 49

In [8]:
numb = int(input("enter two digit integer: "))
numb2 = int(input("enter two digit integer: "))
print((((numb%10)*(numb2//10)+(numb2%10)*(numb//10))))

enter two digit integer: 45
enter two digit integer: 56
49

In [ ]:
numb = int(input("enter two digit integer: "))
numb2 = int(input("enter two digit integer: "))
n = numb%10
n2 = numb2%10
n3 = numb//10
n4 = numb2//10

In [1]:
'rishi'*45

'rishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishirishi'

In [1]:
num = int(input("enter a two digit number: "))
num2 = int(input("enter a two digit number: "))
avr = (num + num)/2
print(avr)

enter a two digit number: 20
enter a two digit number: 30
20.0

In [3]:
num = int(input("enter a two digit number: "))
num2 = int(input("enter a two digit number: "))
avr = (num + num2)/2
print(avr)

enter a two digit number: 20
enter a two digit number: 30
25.0

In [2]:
(20+30)/2

25.0