# What is a string? ("  ",'  ')
 - A string is a sequence of character.
 - Strings can be created by enclosing characters inside a single quote or double quote.
 - Triple quotes can be used to represent a multiline string or to which we also call docstrings

In [3]:
name = ('my name is rishi')
print(name[6])
print(name[1],name[4],name[6])

e
y a e

In [7]:
a = 'python is easy'
print(a[2],a[-9],a[-10],a[-13])

t n o y

In [4]:
y = 'hello sir how are you, good morning'
print(y[9],y[12],y[6])

  w s

In [1]:
moon = "moon is beautiful"
print(moon[5])

i

In [17]:
python = ("trying to understand ")
print(python[:-1])

trying to understand

In [20]:
d = ("i am learning python ")
print(d[0:-1])

i am learning python

In [21]:
a = "i am learning python"
print(a[-20:20])

i am learning python

# STRIDE - (Steps)

- Stride slicing can also accept a third parameter, the stride, which refers to how many steps you want to take from the first character of the string. We can also call it step value.
- slicing step cannot be zero.

In [24]:
example = 'python is easy '
print(example[0:15:1]) # as both the results are same. we can conclude that the default value of a 
print(example[0:15])  # stride is 1

python is easy
python is easy

In [9]:
example = 'python is easy '
example[0:14:2]

'pto ses'

In [10]:
example = 'python is easy '
example[0:14:3]

'ph  s'

In [26]:
example = 'python is easy '
print(example[0:15:2])
print(example[0:15:3])
print(example[0:15:4])

pto ses
ph  s
poss

# Negative Stride

In [28]:
example = 'PYTHON IS EASY '
example[-10::-1]

'NOHTYP'

In [11]:
name = 'hello my name is rishi'
print(name[-9:-15:-1])

 eman

In [13]:
school = 'VIAJI'
print(school[::-3])

II

# Strings methods and functions

In [42]:
x = "hello world"
x

'hello world'

In [43]:
#   .upper()
x.upper()

'HELLO WORLD'

In [44]:
x.lower()

'hello world'

In [45]:
name = 'rishi'
name.upper()

'RISHI'

In [47]:
name.lower()

'rishi'

In [19]:
x = 'hello world'
x = x.upper()
print(x)

HELLO WORLD

In [21]:
e = 'hello world'
e = e.upper()
e

'HELLO WORLD'

In [20]:
z = 'hello world'
print(z.upper())
print(z)

HELLO WORLD
hello world

In [49]:
py = 'python is easy '
print(py.upper(py[-5:]))

TypeError: str.upper() takes no arguments (1 given)

In [59]:
#  .replace()
name = 'hello world'
name.replace('h','n')
print(name)

x = name.replace('he','g')
print(x)

# or you can do permanently

hello world
gllo world

In [22]:
name = 'hello world'
name.replace('h','n')
print(name)

x = name.replace('','g')
print(x)

hello world
ghgeglglgog gwgogrglgdg

In [30]:
name = 'r i sh i'
name = name.replace("","-")  # ??
print(name)

-r- -i- -s-h- -i-

In [1]:
name = "DATA"
name = name.replace('','+')
print(name)

+D+A+T+A+

In [2]:
name = "DATA"
name = name.replace('','+')
print(name)

+D+A+T+A+

In [24]:
t = 'how are you'
t.replace('how','where')
print(t)

t.replace(' ','y')
 t = t.replace('',k)

IndentationError: unexpected indent (2977880366.py, line 6)

In [70]:
y = 'stride'
y = y.replace('stride','rishi')
print(y)

rishi

In [72]:
r = 'rishi'
r.count('rishi')

1

In [76]:
h = 'hello my name is rishi'
h.count('hello my name is rishi')

1

In [84]:
h = 'hello my name is rishi'
h.count('i')

3

In [86]:
b = 'we will be going dlkj go lkkl go ksjj gone'
b.count('g')

5

In [4]:
w = 'aabbc rishi singh, i am doing my work right now, and trying to work on my code in python'
w = w.replace('i','b'),w.count('b'),w.upper()
w
print(w)

('aabbc rbshb sbngh, b am dobng my work rbght now, and trybng to work on my code bn python', 2, 'AABBC RISHI SINGH, I AM DOING MY WORK RIGHT NOW, AND TRYING TO WORK ON MY CODE IN PYTHON')

In [25]:
# change a sentence into upper case without using upper.()??

In [35]:
x = 'DATA'
x = x.replace("","p")
print(x)

pDpApTpAp

In [36]:
x = 'DATA'
x = x.replace('','p')
print(x)

pDpApTpAp

In [1]:
w = "kk"
w.replace("kk",'rishi')
print(w)

kk