# Data Manipulation with Pandas
- Pandas is a python that allows you to work with large datasets.
- It offers tools for data analysis, cleansing, exploration and manipulation of data.

# Panda Vs NumPy
- Pandas is designed for working with tabular or hetrogeneous data
- NumPy is best suited for working with homogeneously typed numerical array data.

# Features of Pandas
- Powerful Data Structure
- High performance merging and joining o database
- Fast and efficient data wrangling
- Easy data aggregation and transformation
- Tools for reading and writing data
- Intelligent and automated data allignment

# Data Structure in Pandas
1. Series = Is a 1D array like object containing a spuence of vlaues of the same type and an associated array of data labels called its index.<br>
- Data allignment is intrinsic, i.e, the link between labels and data will not be broken unless done so explicitly by you
<br>

# DataFrame
- Represents a rectangular table of data and contains a collection of columns, each of which can be a different value type(hetrogenous)
- A DataFrame has both row and coumn index
- Each column in a DataFrame is a series

In [12]:
import pandas as pd # Importing the pandas library
import numpy as np

# Series
- Pandas series objects are generally created from the following data types:-
1. Scalar (Single value)
2. ndarray
3. Dictionary
4. List

# syntax:  pd.Series(data,index,dtype)

In [13]:
#creating from a sclar value
g = pd.Series('Helllo')
g

0    Helllo
dtype: object

In [14]:
# Creating from ndarray
arr = np.array([3,2,4,3,65,4,8])
sr = pd.Series(arr)
sr

0     3
1     2
2     4
3     3
4    65
5     4
6     8
dtype: int32

In [20]:
# Creating from a dictionary
a = {1:'hello',2:'world',3:'This',4:'is python'}
b = pd.Series(a)
b

1        hello
2        world
3         This
4    is python
dtype: object

In [9]:
# Creating from a scalar value
x = pd.Series("string")
x

0    string
dtype: object

In [10]:
# Creating from an ndarray

import pandas as pd
arr = np.array([1,2,3,4,5])
series1 = pd.Series(arr)
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [6]:
# Creatin gfrom a dictionary
# Keys of the dicitonary become the indes

dict_ = {'a':1,'b':2,'c':3,'d':4}
series3 = pd.Series(dict_)
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

# Providing the index

In [8]:
x = pd.Series(["Welcome","To","vijAI"],index=["a",3,"c"])
x

a    Welcome
3         To
c      vijAI
dtype: object

# Important operations
- Data allignment is intrinsic
- Using NumPy functions or NumPy operations, such as filtering with a Boolean array and scalar multiplication will preserve the index-value lin

In [13]:
# Boolean series
y = pd.Series([1,2,3,4,4,7,2,8])
y>=4 # This gives a boolean series

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7     True
dtype: bool

In [17]:
y[y>=4] # This gives the values which are true and index link is not broken

3    4
4    4
5    7
7    8
dtype: int64

In [21]:
y*3 # multiplying by a scalar value

0     3
1     6
2     9
3    12
4    12
5    21
6     6
7    24
dtype: int64

In [19]:
y+4

0     5
1     6
2     7
3     8
4     8
5    11
6     6
7    12
dtype: int64

In [20]:
y-1

0    0
1    1
2    2
3    3
4    3
5    6
6    1
7    7
dtype: int64

In [22]:
y/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.0
5    3.5
6    1.0
7    4.0
dtype: float64

In [23]:
y[y%2==0]

1    2
3    4
4    4
6    2
7    8
dtype: int64

In [25]:
list(y)

[1, 2, 3, 4, 4, 7, 2, 8]

In [30]:
a = pd.Series([2,4,3,5,7,5,8,6])
a

0    2
1    4
2    3
3    5
4    7
5    5
6    8
7    6
dtype: int64

In [29]:
b = pd.Series([3,2,5,6,4,6,76,9])
b

0     3
1     2
2     5
3     6
4     4
5     6
6    76
7     9
dtype: int64

In [31]:
a+b

0     5
1     6
2     8
3    11
4    11
5    11
6    84
7    15
dtype: int64

In [38]:
g = pd.Series(['rishi','hello','world'])
h = pd.Series(['india','america','china','data'])
g+h

0      rishiindia
1    helloamerica
2      worldchina
3             NaN
dtype: object

In [39]:
t = pd.Series(['hello',4,'world',5,'rishi',10])
t

0    hello
1        4
2    world
3        5
4    rishi
5       10
dtype: object

In [40]:
r = pd.Series([1,3,2,4], index = [5,6,7,8])
t = pd.Series([5,6,7,8], index = [1,2,3,4])
r+t

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
dtype: float64

In [41]:
r = pd.Series([1,3,2,4], index = [5,6,7,8])
t = pd.Series([5,6,7,8], index = [5,6,7,8])
r+t

5     6
6     9
7     9
8    12
dtype: int64

In [42]:
r = pd.Series([1,3,2,4], index = [5,6,7,8])
t = pd.Series([5,6,7,8], index = [8,7,6,5])
r+t

5     9
6    10
7     8
8     9
dtype: int64

In [44]:
r = pd.Series([1,3,2,4], index = [5,6,7,8])
t = pd.Series([5,6,7,8], index = [8,7,6])
r+t

ValueError: Length of values (4) does not match length of index (3)

In [7]:
import pandas as pd
import numpy as np

In [4]:
r = pd.Series([[1,3,2,4],[1,2,3,4]], index = [5,6,7,8])
t = pd.Series([[5,6,7,8],[4,3,5,2]], index = [8,7,6,5])
r+t

ValueError: Length of values (2) does not match length of index (4)

1    NaN
2    NaN
7    NaN
8    NaN
dtype: object

In [8]:
arr = np.array([[1,2,3,4],[5,6,7,8]])
sr = pd.Series(arr)

ValueError: Data must be 1-dimensional

In [9]:
a = [[1,2,3,4],[5,6,7,8]]
a

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [10]:
pd.Series(a)

0    [1, 2, 3, 4]
1    [5, 6, 7, 8]
dtype: object

In [15]:
b = [[1,2,3,4],[5,6,7,8]]
print(b[0][2])
print(b[1][3])

3
8

In [17]:
b = [[1,2,3,4],[5,6,7,8]]
print(b[1][0:2])
print(b[0][3:1:-1])

[5, 6]
[4, 3]

In [23]:
r = pd.Series([[11,23,56,76],[1,2,3,4]], index = [1,2])
t = pd.Series([[5,6,7,8],[4,3,5,2]], index = [2,1])
b = r+t
b

1    [11, 23, 56, 76, 4, 3, 5, 2]
2        [1, 2, 3, 4, 5, 6, 7, 8]
dtype: object

In [24]:
r[1][1]

23

# DataFrame

Pandas DataFrame objects are generally created from the following data types:-
1. ndarray
2. Dictionary
3. List
4. Series
5. DataFrame

In [22]:
df = pd.DataFrame(np.array([[3,2,5,3,6],[3,5,3,4,6]]))
df

   0  1  2  3  4
0  3  2  5  3  6
1  3  5  3  4  6

In [23]:
df = pd.DataFrame({'a':{1:'Hello',2:'World'},'b':{1:'Data Science',2:'Class'}})
df

       a             b
1  Hello  Data Science
2  World         Class

In [27]:
df = pd.DataFrame([['hello','world'],['Data Science','Class']])
df

              0      1
0         hello  world
1  Data Science  Class

In [28]:
a = pd.Series([3,5,2,6,4,7])
b = pd.DataFrame(a)
b

   0
0  3
1  5
2  2
3  6
4  4
5  7

In [31]:
df = pd.DataFrame({'a':np.array([1,2,3,4,5]),'b':np.array([6,7,8,9,10])})
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [34]:
df = pd.DataFrame({'a':{1,2,3,4,5},'b':{6,7,8,9,10}})
df

TypeError: 'set' type is unordered

In [26]:
# from array
new_data = pd.DataFrame(np.array([[1,2,3,4,5], # can only create from 2d an 1d array
                                [6,7,8,9,10]]))
new_data

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [28]:
# from list
data = pd.DataFrame([[1,2,3,4,5],[6,7,8,9,10]])
data

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [29]:
# from nested dictionary
dt = pd.DataFrame({'a':{1:'welcome',2:'to'},'b':{1:'hello',2:'hi'}})
dt

         a      b
1  welcome  hello
2       to     hi

In [32]:
# from nested dict
dt = pd.DataFrame({'a':{1:'welcome',2:'to'},'b':{3:'hello',4:'hi'}})
print(dt)
dt

         a      b
1  welcome    NaN
2       to    NaN
3      NaN  hello
4      NaN     hi

         a      b
1  welcome    NaN
2       to    NaN
3      NaN  hello
4      NaN     hi

In [33]:
dctr = pd.DataFrame({'a':[1,2,3,4,5],'b':[6,7,8,9,10]})
print(dctr)
dctr

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [34]:
# Using Series
series_df = pd.DataFrame(pd.Series({1:'a',2:'b',3:'c'}))
series_df

   0
1  a
2  b
3  c

In [35]:
# Using DataFrame
df = pd.DataFrame(dctr)
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [36]:
list(df)

['a', 'b']

In [37]:
np.array(df)

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]], dtype=int64)

In [38]:
dict(df)

{'a': 0    1
 1    2
 2    3
 3    4
 4    5
 Name: a, dtype: int64,
 'b': 0     6
 1     7
 2     8
 3     9
 4    10
 Name: b, dtype: int64}

In [39]:
pd.Series(df)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [41]:
dctr = pd.DataFrame({'a':[1,2,3,4,5],'b':[6,7,8,9,10]})
series_df = pd.DataFrame(pd.Series({1:'a',2:'b',3:'c'}))
dctr

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [42]:
series_df

   0
1  a
2  b
3  c

In [43]:
dctr+series_df

    a   b    0
0 NaN NaN  NaN
1 NaN NaN  NaN
2 NaN NaN  NaN
3 NaN NaN  NaN
4 NaN NaN  NaN

In [44]:
a = pd.DataFrame([[1,2,3,4,5],[6,7,8,9,10]])
b = pd.DataFrame([[11,12,13,14,15],[16,17,18,19,20]])
a

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [45]:
b

    0   1   2   3   4
0  11  12  13  14  15
1  16  17  18  19  20

In [46]:
a+b

    0   1   2   3   4
0  12  14  16  18  20
1  22  24  26  28  30

In [47]:
a = pd.DataFrame([['rishi','india','america'],['data science','hello','world']])
b = pd.DataFrame([[1,2,3],[4,5,6]])
a

              0      1        2
0         rishi  india  america
1  data science  hello    world

In [48]:
b

   0  1  2
0  1  2  3
1  4  5  6

In [49]:
a+b

TypeError: can only concatenate str (not "int") to str

In [55]:
a = pd.DataFrame([['rishi','india','america'],['data science','hello','world']], index = [1,2])
b = pd.DataFrame([['this','is','DataFrame'],['how','are','you']], index = [1,2])
a+b

                 0         1                 2
1        rishithis   indiais  americaDataFrame
2  data sciencehow  helloare          worldyou

In [54]:
a = pd.DataFrame([['rishi','india','america'],['data science','hello','world']], index = [3,2])
b = pd.DataFrame([['this','is','DataFrame'],['how','are','you']], index = [1,2])
a+b

                 0         1         2
1              NaN       NaN       NaN
2  data sciencehow  helloare  worldyou
3              NaN       NaN       NaN

In [63]:
w = pd.Series([1,2,3,4])
b = pd.DataFrame([[9,10,11,12],[13,14,15,16]])
w

0    1
1    2
2    3
3    4
dtype: int64

In [64]:
b

    0   1   2   3
0   9  10  11  12
1  13  14  15  16

In [65]:
w+b

    0   1   2   3
0  10  12  14  16
1  14  16  18  20

# Essential functionality

# Reindexing
- An important method on pandas objects is reindex, which means to create a new object with values rearranged according to the new index

In [5]:
import pandas as pd
obj = pd.Series([45,23,87,56],index=['d','c','b','a'])
obj

d    45
c    23
b    87
a    56
dtype: int64

In [7]:
obj2 = obj.reindex(['a','b','c','d'])
obj2

a    56
b    87
c    23
d    45
dtype: int64

In [9]:
obj

a    45
b    23
c    87
d    56
dtype: int64

In [8]:
obj.index=['a','b','c','d'] # A series index can be altered in place by assignment:
obj

a    45
b    23
c    87
d    56
dtype: int64

In [10]:
b = pd.DataFrame([[9,10,11,12],[13,14,15,16]])
b

    0   1   2   3
0   9  10  11  12
1  13  14  15  16

In [15]:
b = pd.DataFrame([[9,10,11,12],[13,14,15,16]],index=['b','a'])
b

    0   1   2   3
b   9  10  11  12
a  13  14  15  16

In [16]:
obj = b.reindex(['a','b'])
obj

    0   1   2   3
a  13  14  15  16
b   9  10  11  12

In [17]:
b.index=['a','b']
b

    0   1   2   3
a   9  10  11  12
b  13  14  15  16

# with DataFrame, reindex can alter the index, columns, or both.

In [21]:
import numpy as np

In [22]:
df = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','b'],columns=['Y','Z','X'])
df

   Y  Z  X
a  0  1  2
c  3  4  5
b  6  7  8

In [24]:
df = df.reindex(index=['a','b','c'],columns=['X','Y','Z'])
df

   X  Y  Z
a  2  0  1
b  8  6  7
c  5  3  4

In [25]:
df2 = pd.DataFrame(np.arange(9).resize((3,3)),index=['a','c','b'],columns=['Y','Z','X'])
df2

     Y    Z    X
a  NaN  NaN  NaN
c  NaN  NaN  NaN
b  NaN  NaN  NaN

In [26]:
print(np.arange(9).resize((3,3)))

None

In [29]:
print(np.arange(9).reshape((3,3)))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

# Indexing , Selection and Filtering

# Indexing with series

Series indexing works similar to NumPy array indexing, except you can use the Series index values(labels) instead of only integers.

In [1]:
lst=[1,2,3,4]
lst[2]

3

In [2]:
import pandas as pd

In [3]:
ser1 = pd.Series([1,2,3,4])
print(ser1)
print()
ser1[0]

0    1
1    2
2    3
3    4
dtype: int64

1

In [4]:
ser2 = pd.Series([5,6,7,8],index=['a','b','c','d'])
print(ser2)
print()
ser2['a']

a    5
b    6
c    7
d    8
dtype: int64

5

In [5]:
ser2[3] # Numerical indexing also works

8

In [6]:
ser2[['a','b','c','d']] #  Selecting a set of values

a    5
b    6
c    7
d    8
dtype: int64

In [7]:
ser2[[0,1,3]]

a    5
b    6
d    8
dtype: int64

In [8]:
ser2[1::2]

b    6
d    8
dtype: int64

While you can select data by label this way, the preferred way to select index values is with the special loc operator

In [9]:
obj1 = pd.Series([1,2,3], index=[2,0,1])
obj2 = pd.Series([1,2,3], index=['a','b','c'])
print(obj1)

2    1
0    2
1    3
dtype: int64

In [10]:
print(obj2)

a    1
b    2
c    3
dtype: int64

In [11]:
obj1[0]

2

In [12]:
obj2[0]

1

The .loc operator is used to select data by label

In [13]:
obj2

a    1
b    2
c    3
dtype: int64

In [19]:
obj2.loc[[0,1,2]] # error because [0,1,2] are not the labels of ob2

KeyError: "None of [Int64Index([0, 1, 2], dtype='int64')] are in the [index]"

In [20]:
obj1

2    1
0    2
1    3
dtype: int64

In [21]:
obj1.loc[0]

2

In [22]:
obj2.loc[['a','b']]

a    1
b    2
dtype: int64

In [23]:
obj1

2    1
0    2
1    3
dtype: int64

In [25]:
obj1.loc[0]

2

.iloc operator indexes only with integers and not by labels

In [26]:
obj1.iloc[0]

1

In [27]:
print(obj1)

2    1
0    2
1    3
dtype: int64

In [28]:
obj1.iloc[0]

1

In [29]:
obj1.loc[0]

2

Start and stop index are inclusive when slicing by labels (by using or not using .loc)

In [31]:
print(obj2)

a    1
b    2
c    3
dtype: int64

In [33]:
obj2[0:2]

a    1
b    2
dtype: int64

In [34]:
obj2.loc['a':'c']

a    1
b    2
c    3
dtype: int64

In [36]:
obj2.iloc[0:2]

a    1
b    2
dtype: int64

# Indexing with DataFrame

In [53]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,3,9],[10,11,1]],index = ['A','B','C','D'],columns=['Haldwani','Delhi','Ramnagar'])
df

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6
C         7      3         9
D        10     11         1

In [54]:
df['Ramnagar'] # Selecting a column

A    3
B    6
C    9
D    1
Name: Ramnagar, dtype: int64

In [55]:
df['Haldwani']>2 #

A    False
B     True
C     True
D     True
Name: Haldwani, dtype: bool

In [56]:
df.Ramnagar

A    3
B    6
C    9
D    1
Name: Ramnagar, dtype: int64

In [57]:
x = pd.Series([1,2,3,4])
x.name="Demo"
x

0    1
1    2
2    3
3    4
Name: Demo, dtype: int64

In [58]:
df[:2] # slicing the rows

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6

In [59]:
df['Haldwani']>2 # Gives a boolean array(boolean Series)

A    False
B     True
C     True
D     True
Name: Haldwani, dtype: bool

In [60]:
df

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6
C         7      3         9
D        10     11         1

In [61]:
df[df["Haldwani"]>2] # Selecting data with a boolean array

   Haldwani  Delhi  Ramnagar
B         4      5         6
C         7      3         9
D        10     11         1

In [63]:
df<2 # Boolean DataFrame

   Haldwani  Delhi  Ramnagar
A      True  False     False
B     False  False     False
C     False  False     False
D     False  False      True

In [66]:
# indexing with a boolean dataframe
df[df<2]

   Haldwani  Delhi  Ramnagar
A       NaN    NaN       NaN
B       NaN    NaN       NaN
C       NaN    NaN       NaN
D       NaN    NaN       NaN

In [1]:
df[df<2]=4

NameError: name 'df' is not defined

In [74]:
df = pd.DataFrame([[1,2,3,2],[6,4,5,6],[7,7,3,9],[10,1,1,1],[2,5,7,3]],index = ['A','B','C','D','E'],columns=['Haldwani','Delhi','Ramnagar','New Delhi'])
df

   Haldwani  Delhi  Ramnagar  New Delhi
A         1      2         3          2
B         6      4         5          6
C         7      7         3          9
D        10      1         1          1
E         2      5         7          3

In [89]:
df[['Haldwani','Ramnagar']]

   Haldwani  Ramnagar
A         1         3
B         6         5
C         7         3
D        10         1
E         2         7

In [80]:
df.Haldwani[0:3]

A    1
B    6
C    7
Name: Haldwani, dtype: int64

In [81]:
df.loc["Haldwani":"Ramnagar"]

Empty DataFrame
Columns: [Haldwani, Delhi, Ramnagar, New Delhi]
Index: []

In [82]:
df['A']

KeyError: 'A'

In [83]:
df.A

AttributeError: 'DataFrame' object has no attribute 'A'

In [78]:
df.loc['New Delhi']

KeyError: 'New Delhi'

|          Type       |                                     Notes                                  |
|---------------------|----------------------------------------------------------------------------|
|df[column]           |              Select single coumn or sepuence of columns fromthe DataFrame  |
|df[slice]            |                                 Slice rows                                 |
|df[Bollean array]    |                                Filter rows                                 |
|df[Boolean DataFrame]|                        Set values based on some criterion                  |
|df.loc[rows]         |     Select single row or subset of rows from the DataFrame by label        |
|df.loc[:,cols]       |            Select single column or subset of columns by label              |
|df.loc[rows,cols]    |                   Select both rows and coumns by label                     |
|df.iloc[rows]        | Select single row or subset of rows from the DataFrame by integer position |
|df.iloc[:,cols]      |         Select single column or subset of columns by integer position      |
|df.iloc[rows,cols]   |               Select both rows and columnns by integer position            |

In [23]:
import pandas as pd
df = pd.DataFrame([["apple","brinjal","arhar"],["mangoe","pea","malka"],["banana","potato","chana"],["grapes","tomato","urad"]],index=[1,2,3,4],columns=["Fruits","Vegitables","Pulses"])
df

   Fruits Vegitables Pulses
1   apple    brinjal  arhar
2  mangoe        pea  malka
3  banana     potato  chana
4  grapes     tomato   urad

In [24]:
df["Vegitables"] # selecting columns or sequence of columns

1    brinjal
2        pea
3     potato
4     tomato
Name: Vegitables, dtype: object

In [25]:
df[["Vegitables","Fruits"]]   # selecting columns or sequence of columns

  Vegitables  Fruits
1    brinjal   apple
2        pea  mangoe
3     potato  banana
4     tomato  grapes

In [26]:
df[0:3] # selecting rows

   Fruits Vegitables Pulses
1   apple    brinjal  arhar
2  mangoe        pea  malka
3  banana     potato  chana

In [27]:
df["Fruits"]=="apple" # Boolean array

1     True
2    False
3    False
4    False
Name: Fruits, dtype: bool

In [28]:
df=="apple" # Boolean DataFrame

   Fruits  Vegitables  Pulses
1    True       False   False
2   False       False   False
3   False       False   False
4   False       False   False

In [29]:
df[df["Fruits"]=="apple"]

  Fruits Vegitables Pulses
1  apple    brinjal  arhar

In [31]:
df[df=="apple"]=4

In [32]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,3,9],[10,11,1]],index = ['A','B','C','D'],columns=['Haldwani','Delhi','Ramnagar'])
df

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6
C         7      3         9
D        10     11         1

In [35]:
df.loc[["B","C"],["Haldwani","Delhi"]]

   Haldwani  Delhi
B         4      5
C         7      3

In [44]:
pr = pd.DataFrame([["Wheat",200],["Fish",1000],["Mulethi",340],["Mushroom",2000],["Honey",450],["Ashwagnadha",3000]],index=[1,2,3,4,5,6],columns=["Products","Price"])
print(pr)

      Products  Price
1        Wheat    200
2         Fish   1000
3      Mulethi    340
4     Mushroom   2000
5        Honey    450
6  Ashwagnadha   3000

In [49]:
pr[pr.Price>=1000]

      Products  Price
2         Fish   1000
4     Mushroom   2000
6  Ashwagnadha   3000

In [45]:
# H.W
# Name, Age, Weight, Height

In [ ]:
sel = pd.DataFrame(["Rishi",28,60,5.6],["Rohit",31,])

In [21]:
# DataFrame from ndarray
a = np.array([['Hello','This','Is','A','Python','Class']['hello','my','name','is','rishi','singh']])
g = pd.DataFrame(a)
g

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\sageo\AppData\Local\Temp\ipykernel_38400\2799394415.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  a = np.array([['Hello','This','Is','A','Python','Class']['hello','my','name','is','rishi','singh']])
C:\Users\sageo\AppData\Local\Temp\ipykernel_38400\2799394415.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  a = np.array([['Hello','This','Is','A','Python','Class']['hello','my','name','is','rishi','singh']])
C:\Users\sageo\AppData\Local\Temp\ipykernel_38400\2799394415.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  a = np.array([['Hello','This','Is','A','Python','Class']['hello','my','name','is','rishi','singh']])

TypeError: list indices must be integers or slices, not tuple

In [37]:
df = pd.DataFrame([['hello','world'],['data','science']])
df

       0        1
0  hello    world
1   data  science

In [39]:
df = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','b'],columns=['Y','Z','X'])
df

   Y  Z  X
a  0  1  2
c  3  4  5
b  6  7  8

In [40]:
df2 = df.reindex(index=['a','b','c'],columns=['X','Y','Z'])
df2

   X  Y  Z
a  2  0  1
b  8  6  7
c  5  3  4