# Variables 30/05/2023

In [2]:
x = 63

In [3]:
print(x)

63

In [14]:
type(x)

int

In [4]:
y = 22.5

In [5]:
print(y)

22.5

In [15]:
type(y)

float

In [6]:
q = 22j

In [7]:
print(q)

22j

In [16]:
type(q)

complex

In [8]:
w = True

In [9]:
print(w)

True

In [17]:
type(w)

bool

In [10]:
r = ('rishi')

In [11]:
print(r)

rishi

In [18]:
type(r)

str

In [12]:
n = None

In [13]:
print(n)

None

In [19]:
type(n)

NoneType

In [21]:
78abc = "str"

SyntaxError: invalid decimal literal (1925398480.py, line 1)

# Variable rules

- A variable name must start with an alphabet or an underscore
- A variable name cannot start with a number or any special character (@,#,$,%,^)
- A variable name can only contain alphabets, numbers, and underscores
- The use of special characters is prohibited
- Variable names are case-sensitive in python
- Python keywords cannot be used as variable names

In [24]:
__abc = 78 # variable name starting with underscore

In [25]:
@abc = "rishi"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (481057621.py, line 1)

In [28]:
True  = 23

SyntaxError: cannot assign to True (2421482644.py, line 1)

In [29]:
None = 34

SyntaxError: cannot assign to None (2572093044.py, line 1)

In [30]:
and = 25

SyntaxError: invalid syntax (1639225582.py, line 1)

In [31]:
class = 90

SyntaxError: invalid syntax (1955616281.py, line 1)

In [32]:
for = 67

SyntaxError: invalid syntax (3659175368.py, line 1)

In [33]:
finally = 55

SyntaxError: invalid syntax (240786277.py, line 1)

In [35]:
not = 64 # we cannot assign a data to keywords

SyntaxError: invalid syntax (199009820.py, line 1)

In [38]:
'class' = 12

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1727931555.py, line 1)

In [36]:
Class = 12

In [37]:
__class = 33

In [5]:
# Integer variable
money = 20
print(money)
print(type(money))

20
<class 'int'>

In [6]:
# float variable
num = 20.34
print(num)
print(type(num))

20.34
<class 'float'>

In [7]:
# complex type
_h = 3 + 5j
print(_h)
print(type(_h))

(3+5j)
<class 'complex'>

In [8]:
# string variable
name = 'rishi'
print(name)
print(type(name))

rishi
<class 'str'>

In [1]:
_123 = 55

In [2]:
123 = 45

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (463764452.py, line 1)

In [3]:
a123 = 9

In [5]:
python@gmail=65 # special characters are not used for variables

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (166718547.py, line 1)

In [7]:
a = 10
b = 10
print(id(b))
print(id(a))

2820703584784
2820703584784

In [9]:
x = 10
y = 10
z = x
print(id(x))
print(id(y))
print(id(z))
print(id(x),id(y),id(z))

2820703584784
2820703584784
2820703584784
2820703584784 2820703584784 2820703584784

In [10]:
a = b = c = 34
print(id(a),id(b),id(c))

2820703585552 2820703585552 2820703585552

In [16]:
name = 'rishi' # string assignment
age = 27 # integer assignment
salary = 5500000000.34 # float assignment

print(name)
print(age)
print(salary)

rishi
27
5500000000.34

In [19]:
var = 10
print(var)
print(type(var))

var = 'rishi'
print(var)
print(type(var))

var = 22.4
print(var)
print(type(var))

var = 2j
print(var)
print(type(var))

10
<class 'int'>
rishi
<class 'str'>
22.4
<class 'float'>
2j
<class 'complex'>

In [20]:
print(h)

NameError: name 'h' is not defined

Python is a dynamically typed language and c++ is a statically typed language.
Why?

In statically typed language we have to declare and define the variable. This declared and defined variable never changes or static.

While python is a dynamically typed language because here we can change the variable without declaring it and in python since we are not declaring the variable so we can change it and this is called the dynamic nature of python language.

Therefore in python we can define the variable without declaring it.

Define means assigning(=) some value to the variable
Declare means specifying the data type

# Expressions

An expression  is a piece of code( must include operators and operands) that evaluate to a value. For example, basic arithmatic operations like adding multiple numbers.

In [3]:
4+4+4+4+\
4+5+6+7

38

In [4]:
'heello;my name is/ngaurav'

'heello;my name is/ngaurav'

In [7]:
'hello;my name is/ngaurav'
print('hello;my name is/ngaurav')

hello;my name is/ngaurav

In [2]:
print(int(input('35+36 = ')))

35+36 = 3536
3536

In [3]:
print(type(int(input('35+36 = '))))

35+36 = 2536
<class 'int'>

In [1]:
# take any two numbers(two digit positive integers) as input from the user as 25,35 - 5*3+2*5 = 25
print(2*5)

10