# FATHER OF PYTHON - Guido Van Rossum in (1980) worked on ABC programming language and made a new command line to which he named PYTHON which was released in 1991 as Python 0.9.0. in 2000 python 2.0 was released. in 2008 python 3.0 was released ,,,,current version- 3.11.4

#python is a high level general purpose programming language (GPL)
a) GPL - 
b) DSL - Domain specific programming language, eg -SQL and HTML

functions of DSL can be performed by GPL like Python

Dynamically Typed - in python coding there is no requirement of telling during typing that which data type we are using

High Level Programming Language - easy to understand by humans
                                  eg - python, C , C++, etc
Low Level Programming Language - hard to understand                               
                                  eg - asembly language and machine code
                                  
CONCLUSION - Python is a high level programming language and GPL and is dynimaclly typed

Types of IDE (integrated development environment)
is a software where you can write a code
eg - jupyter notebook, jupyter lab, spyder, pycharm

In [ ]:
print() # print can only take arguments that are pre-defined

In [21]:
x = """this is a class of ai \n which is very usefull \
and easy to learn. its second day of class
in haldwani"""

print(x)

this is a class of ai
 which is very usefull and easy to learn. its second day of class
in haldwani

In [6]:
x = 7
y = 20

z = y//x
print(z)

'gives the result by removing the decimal part....floor division'

2

In [8]:
x = 20
y = 5

z = y%x
print(z)

5

In [9]:
5%2
"gives the remainder....modulo"

1

In [11]:
"50+20"
"if calculation is performed inside quotes it will print as it is"

'50+20'

In [13]:
x = 20+30

print   ()

x

In [14]:
True

True

In [15]:
False

False

In [16]:
true

NameError: name 'true' is not defined

In [17]:
false

NameError: name 'false' is not defined

In [18]:
FALSE

NameError: name 'FALSE' is not defined

Python is case sensetive. therefore if we write True in wrong form like 'true' or TRUE it will throw error.

any number written with j is a complex number like 5 + 2j

In [19]:
30+45j

(30+45j)

In [20]:
30j * 2

60j

In [1]:
62-22j

(62-22j)

In [2]:
43+13k

SyntaxError: invalid decimal literal (1136761191.py, line 1)

In [4]:
x = 2
y = 3

z = y//x

print(z)

# hello my name is rishi

del(x)

print(x)

1

NameError: name 'x' is not defined

In [3]:
print('rishi')

rishi

In [7]:
x=3**2

print(x)

9

# experiments with print

In [1]:
print('rishi')

rishi

In [3]:
print(rishi) # printing name without quotation

NameError: name 'rishi' is not defined

In [4]:
print(r + i + s + h + i) # adding alphabets without quotation

NameError: name 'r' is not defined

In [5]:
print('r'+'i'+'s'+'h'+'i') # adding alphabets with quotaion

rishi

In [8]:
print('r'+'i'+'s'        'h'+'i') # using space while adding alphabets

rishi

In [9]:
print('r''i''s''h''i')

rishi

In [12]:
print('r'+'i'; 's'+'h'+'i')

SyntaxError: invalid syntax (2008431986.py, line 1)

In [21]:
print('rishi;            rahul')

rishi;            rahul

In [17]:
print('r' + 8)

TypeError: can only concatenate str (not "int") to str

In [44]:
print('r'+'8')

r8

In [22]:
print('r + i; s + h + i')

r + i; s + h + i

In [23]:
print('r,i,s+h,i')

r,i,s+h,i

In [25]:
print('rishi' + 'is'        'in' + 'the' + 'classroom')

rishiisintheclassroom

In [27]:
print('rishi is in the;                     clasroom')

rishi is in the;                     clasroom

In [28]:
print('r + i + s  h + i)

SyntaxError: unterminated string literal (detected at line 1) (3256453279.py, line 1)

In [29]:
print('r + i + s h + i')

r + i + s h + i

In [30]:
print     (8+9)

17

In [31]:
print(9 + 4 + j)

NameError: name 'j' is not defined

In [32]:
print(9 + 1 + 'R')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# experiments with hash

In [33]:
# this is my first comment

In [34]:
## using double hash

In [35]:
### using triple hash

In [36]:
#                                                          comment giving space

In [37]:
#          commenting multiline with single hash
hello, my name is Rishi

SyntaxError: invalid syntax (81652729.py, line 2)

In [38]:
## commenting multiline with double hash
hello

NameError: name 'hello' is not defined

In [39]:
### commenting with tripple hash


threrfore # is used for single line comment

NameError: name 'threrfore' is not defined

In [43]:
###  hello, my name is Rishi Singh and i have joined this class of Data Science in VIJAI ### And this is a great place to enhance your skill

same line can have two comments

SyntaxError: invalid syntax (2370417809.py, line 3)

# experiments with forward and backword slash

In [58]:
print("we will become data scientist in next one year\ and will study about AI") # using backword slash in sentence

we will become data scientist in next one year/ and will study about AI

In [49]:
print("we will become data scientist in next one year\\ and will study about AI")

we will become data scientist in next one year\ and will study about AI

In [60]:
hello, where are\ you going

SyntaxError: unexpected character after line continuation character (533926593.py, line 1)

In [63]:
x = 33 + 44 + \
    20 + 10 + \
    12 + 2 
print(x)

121

In [69]:
x = 33 + 44 + \
20 + 10 + \
12 + 2 

print(x)

121

In [70]:
x = 33 + 44 + \
                                        20 + 10 + \
12 + 2 

print(x)

121

In [71]:
x = 33 + 44 + \
    20 + 10 + \\
    12 + 2 

print(x)

SyntaxError: unexpected character after line continuation character (2250906221.py, line 2)

In [72]:
x = 'r' + 'i' + \
's' + 'h' + 'i'

print(x)

rishi

In [65]:
x = 10 + 20 + \ 10 + 20 

print(x)

SyntaxError: unexpected character after line continuation character (1936469561.py, line 1)

In [66]:
x = 10 + 20 + 'r' + \
    25 + 25 + \
    30

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
x = 10 + 20 + 'r' + \
25 + 25 + \
30

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
'we are doing experiments \n with backword slash'

we are doing experiments
 with backword slash

In [52]:
print("we will become data scientist in next one year\\n and will study about AI")

we will become data scientist in next one year\n and will study about AI

In [53]:
print("we will become data scientist in next one year\n and will study\ about AI")

we will become data scientist in next one year
 and will study\ about AI

In [54]:
print("we will become data scientist in next one year\n and will study\n about AI")

we will become data scientist in next one year
 and will study
 about AI

In [55]:
print('\n we are doing experiments \n with backword slash')

 we are doing experiments
 with backword slash

In [56]:
print('we are doing experiments \n                                                    with backword slash')

we are doing experiments
                                                    with backword slash

In [57]:
print('we are doing experiments \n    64383')

we are doing experiments
    64383

# forward slash

In [73]:
5/5

1.0

In [74]:
5      /        2

2.5

In [76]:
5/
2

SyntaxError: invalid syntax (443163371.py, line 1)

In [77]:
rishi/rahul

NameError: name 'rishi' is not defined

In [78]:
550/5

110.0

In [79]:
212/5

42.4

In [80]:
212//5

42

In [81]:
212///5

SyntaxError: invalid syntax (2770425128.py, line 1)

In [82]:
6/2/3

1.0

# docstring

In [83]:
'''hello, my name is rishi singh and i am from banaras'''

'hello, my name is rishi singh and i am from banaras'

In [84]:
'''here we are learning python
in VIJAI'''

'here we are learning python\nin VIJAI'

In [85]:
''''hello, my name is rishi singh and i am from banaras''''

SyntaxError: unterminated string literal (detected at line 1) (3049716836.py, line 1)

In [86]:
"""hello, my name is rishi singh and i am from banaras"""

'hello, my name is rishi singh and i am from banaras'

In [87]:
"""hello, my name is rishi\n singh and i am from banaras"""

'hello, my name is rishi\n singh and i am from banaras'

In [88]:
'hello, my name is rishi singh and i am from banaras'

'hello, my name is rishi singh and i am from banaras'

In [89]:
'hello, my name is rishi singh and i am from banaras
here we are learning python
in VIJAI'

SyntaxError: unterminated string literal (detected at line 1) (1921598296.py, line 1)

In [90]:
'''hello, my name is rishi singh and i am from banaras
here we are learning python
in VIJAI'''

'hello, my name is rishi singh and i am from banaras\nhere we are learning python\nin VIJAI'

# mistake recognisition

In [24]:
Print(This is my pythons first chapter;,                      'I am Rishi') 
#quotation mark was not used for string

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3139353583.py, line 1)

In [23]:
# correct way
print('This is my pythons first chapter;,'                    'I am Rishi')
# there is no effect of space

This is my pythons first chapter;,I am Rishi

In [10]:
Print(7,'8')

NameError: name 'Print' is not defined

In [11]:
print(7,'8') # here 7 is integer and 8 is string as quotation is used in 8

7 8

In [12]:
Print('7'+'8')

NameError: name 'Print' is not defined

In [13]:
# correct way
print('7'+'8') # here both are string

78

In [14]:
Print('a'+'b'+'c'+'d')

NameError: name 'Print' is not defined

In [15]:
print('a'+'b'+'c'+'d')

abcd

In [25]:
print('a','b'+'c','d') # this is because b and c have plus in between

a bc d

In [8]:
print(8+'y') # most recent call last means mistake is on the most recent command

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
#correct way
print('8'+'y')

8y

In [16]:
print(8+y) # in general not defined means you have not converted it into string and not assigned any value

NameError: name 'y' is not defined

In [18]:
print('8'+'y')

8y

In [20]:
y = 15
print(8+'y') # string and integer will never add up

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
# correct way
y = 15
print(8+y)

23

In [27]:
''''i am learning python''''

SyntaxError: unterminated string literal (detected at line 1) (2236100094.py, line 1)

In [34]:
"""""
    i am learning python    """" # have to find reason for unterminated statement. HW

SyntaxError: unterminated string literal (detected at line 2) (1827897575.py, line 2)

In [7]:
'''25''

SyntaxError: incomplete input (1245328655.py, line 1)

In [9]:
# correct way
'''25'''
# if a quotation is missing it shows incomplete input

'25'

In [2]:
"""
hello, my name is rishi singh"""" 
# here unterminated string literal means quotaion havent been closed

SyntaxError: unterminated string literal (detected at line 2) (3520891895.py, line 2)

In [4]:
# correct way to write
""""
hello, my name is rishi singh"""

'"\nhello, my name is rishi singh'

In [1]:
"""
hello, my name is rishi singh""""""hello, my name is rishi singh"""
# multi docstring

'\nhello, my name is rishi singhhello, my name is rishi singh'

In [2]:
print('hello, my name is rishi singh')

hello, my name is rishi singh

In [3]:
# sentence iside the bracket is a string, so i have to putquotation mark to 
                           # show it as string

In [5]:
print('my name is rishi') # i have written i in this cell and as i is not a data type therefore it shows error
              # if i will make i as string, there will be no error
i

my name is rishi

NameError: name 'i' is not defined

In [9]:
x = 20 + 35 + \
    45 + 35 +

SyntaxError: invalid syntax (3393260145.py, line 2)

In [18]:
'x' = 20 + 54 + \      # a data cannot assign data
    45 + 35 + 20
print('x')

SyntaxError: unexpected character after line continuation character (1678829074.py, line 1)

In [19]:
"hello, this is a class of data science"

'hello, this is a class of data science'

In [21]:
print("hello, this is a class of data science")

hello, this is a class of data science

In [22]:
hello, this is a class of data science

SyntaxError: invalid syntax (2962567126.py, line 1)

In [24]:
"hello my name is rishi"    # will always print the last string without print
"name is rishi"

'name is rishi'

In [25]:
print("my name is rishi")   # will get result form both print command
print("hello, everyone")

my name is rishi
hello, everyone

In [27]:
print("my name is rishi") # result in our language
"my name is rishi"   # result in our language

my name is rishi

'my name is rishi'

# print experiments

In [2]:
print             ('my name is rishi singh') #here i have given space beteen print and brackets

# it had no effect on code and sentence was printed

my name is rishi singh

In [4]:
print(         'my name is rishi singh'           ) 
# here i have left some space between sentence and brackets
# it had no effect on the code

my name is rishi singh

In [6]:
print
('my name is rishi singh')
# sentece has been written on another line
# it had no effect on code

'my name is rishi singh'

In [8]:
print


('my name is rishi singh')

# print command and sentece if are written on another line, thers no effect on the code

'my name is rishi singh'

In [10]:
print('       my name is rishi singh        ')
# space between quotaion and sentence 
# sentence was printed  with some space

       my name is rishi singh

In [3]:
print('    ') # here we have given space between quotation
             # no effect on code
            # hence it shows that python also read spaces

In [14]:
print("""my name is rishi singh""") # three quotation marks can be used with print

my name is rishi singh

In [19]:
print("\


       ")

SyntaxError: unterminated string literal (detected at line 2) (1597228075.py, line 1)

In [18]:
print(""\
     
     
     )    # if we want to make the second line bracket the closing bracket we will use new line character

In [20]:
print('how's is it?')

hows is it?

In [10]:
print("how's is it?")

how's is it?

# data types

In [7]:
type("rishi")

str

In [10]:
type(True)

bool

In [12]:
print(True + None)

TypeError: unsupported operand type(s) for +: 'bool' and 'NoneType'

In [13]:
print(43+24j)

(43+24j)

In [14]:
False + 23j

23j

In [15]:
True + False

1

In [16]:
None + 4.5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'float'

In [17]:
"rishi" + 32

TypeError: can only concatenate str (not "int") to str

In [18]:
True+45

46

In [19]:
None-56

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'

In [20]:
True+34

35

In [21]:
True + True

2

In [24]:
type(True + 12)

int

In [26]:
print(True + 23)

24

In [27]:
print(abc + 23)

NameError: name 'abc' is not defined

In [29]:
print("abc"+"34")

abc34

In [31]:
"abc"  + "23"

'abc23'

In [37]:
print('x+23')

x+23

In [45]:
type('x+23')

str

In [12]:
z = ('hello','rishi','singh',78,'hello')
z.count("hello")
type(z)

tuple