# Seaborn

Seaborn is a library for making staststical graphics in Python. It builds on top of matplotlib and integrates closely with pandas data structures.

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#     %matplotlib inline ------- in old version of python it should be written to get graph in output
                            #   otherwise graph was shown in different windows

Using matplotlib backend: <object object at 0x000001F635EFE750>

In [2]:
help(sns.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.

In [3]:
df = sns.load_dataset("tips") # try using flights dataset
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
sns.set_theme()

In [5]:
# bar graph
sns.countplot(data=df,x="sex")
sns.set_theme(style="whitegrid")

In [6]:
sns.barplot(data=df,x="sex",y="tip") # takes average of tips for male and female

In [7]:
sns.barplot(data=df,x="sex",y="total_bill",hue="sex")

In [8]:
# Histogram
sns.histplot(data=df,x="total_bill")

In [9]:
sns.histplot(data=df,x="total_bill",hue="smoker")

In [10]:
# Scatter plot
sns.scatterplot(data=df,x="total_bill",y="tip") # try giving hue="smoker"

In [11]:
sns.scatterplot(data=df,x="total_bill",y="tip",hue="smoker")

In [12]:
# Line Plot
sns.set_theme()
sns.lineplot(data=df,x="total_bill",y="tip",hue="smoker")

In [13]:
df2 = sns.load_dataset("flights")
df2

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [14]:
sns.set_theme()

In [15]:
# bar graph
sns.countplot(data=df2,x="month")
sns.set_theme(style="whitegrid")

In [16]:
sns.barplot(data=df2,x="month",y="passengers")

In [17]:
sns.barplot(data=df2,x="month",y="passengers",hue="year")