# Indexing

Indexing means accessing individual characters(elements) of a string by its position within the string.

# Note : Positive Indexing Starts with 0
(will also count the space and starts from left to right)
# Note: Negative Indexing Starts with -1
(will also count the space and starts from right to left)

In [2]:
name = ('hello everyone')
print(name[8])
print(name[3])

e
l

In [1]:
print(name[3])

NameError: name 'name' is not defined

In [2]:
name[-11]

'l'

In [32]:
name[200]

IndexError: string index out of range

In [3]:
name[-2]

'n'

In [4]:
example = ("Python is easy")
example[-1]

'y'

In [5]:
example[4],[3]

('o', [3])

In [14]:
print(example[-7])

s

In [8]:
example[-15]

'P'

In [10]:
print(example[2],example[5])

t n

In [12]:
print(example[-3],example[4],example[11])

s o a

In [16]:
print(example[14])

# Slicing
means accessing a subset of a string based on its indices.
(positive and negative slicing can be performed.
# Syntax:-    example[0:6]

In [17]:
example[0:6]

'Python'

In [18]:
example[-15:-9]

'Python'

In [4]:
nam = "hello sir, my name is rishi"
print(nam[3:8])

lo si , m

In [19]:
example[0:-15] # taking range from positive to negative

''

In [20]:
example[10:14]

'easy'

In [24]:
print(example[7:9])

is

In [25]:
example[13:-10]

''

In [26]:
example[7:14]

'is easy'

In [27]:
example[10:]

'easy '

In [28]:
example[8:15]

's easy '

In [29]:
example[0:]

'Python is easy '

In [31]:
example[10:200]

'easy '

In [36]:
example[1000:10] # if we give an invalid input in start index. it wont give any result

''

In [35]:
example[:7]

'Python '

In [37]:
example[:]

'Python is easy '

Negative Slicing

In [40]:
example[-15:-9]

'Python'

In [41]:
example[-15:]

'Python is easy '

In [42]:
example[:-1]

'Python is easy'

In [43]:
example[-8:-1]

'is easy'

In [44]:
example[-8:]

'is easy '

In [45]:
example[-3:]

'sy '

In [46]:
example[-10:0]

''

In [47]:
example[-10:]

'n is easy '

In [48]:
example[-9:-15]

''

In [49]:
example[-15:10]

'Python is '

In [50]:
example[-10:14]

'n is easy'

In [52]:
example[7:-6]

'is'

In [54]:
example[-8:9]

'is'

In [6]:
name = 'rusgulksdlkjlkjd'
print(name[-1:-6:-1])

djklj

In [9]:
x = 'PYTHON IS EASYY'
x[-1:-6:1]

''

In [10]:
type(x[2:7])

str

In [12]:
x[-12:0:-1]

'HTY'

In [13]:
x[-12:0:-2]

'HY'

In [14]:
x[::-4]

'YE T'

In [20]:
h = 'PYTHON IS EASY ' # Traffic jam --- No movement--- No interpretation
print(h[-3:-3])

In [3]:
x = 'PYTHON IS EASYT'
x[-1:-6]

''

In [4]:
x[-6:-1]

' EASY'

# endswith() method

In [14]:
#  it checks wether a string is ending with given argument and returns true and false
ex = "Hello World"
ex.endswith('rld')

True

In [6]:
ex.endswith('d')

True

In [7]:
ex.endswith('world')

False

In [8]:
ex.endswith('hello')

False

In [9]:
ex.endswith('llo world')

False

In [9]:
n = ('helloworld')
n.endswith('elloworld')

True

In [12]:
n.endswith('')

True

In [11]:
n.endswith(' ')

False

# split() method

- can be used to create list as it returns the data in the form of list in output.

In [19]:
# .split() method splits the string from the argument given
ex = "Hello World"
ex.split(" ")

['Hello', 'World']

In [12]:
ex.split("h")

['Hello World']

In [13]:
ex.split("H")

['', 'ello World']

In [14]:
ex.split("o")

['Hell', ' W', 'rld']

In [32]:
n = "Riishi Singh"
n.split("ii")

['R', 'shi Singh']

In [19]:
n.split(" ")

['Rishi', 'Singh']

In [20]:
n.split("")

ValueError: empty separator

In [21]:
r = 'hello my name is rishi k l u'
print(r.split())

['hello', 'my', 'name', 'is', 'rishi', 'k', 'l', 'u']

# .find() method

In [23]:
x = "Hello World" #finds the nearest string given in the argument and returns its index number
x.find('o')

4

In [27]:
x.find('Wo')

6

In [24]:
x.find('')

0

In [25]:
x.find(' ')

5

In [29]:
x.find('ll')

2

# Functions:

# len() : returns length of the string

In [34]:
# len()
len("Rishi Singh")

11

In [30]:
len("                          ")

26

In [36]:
len(66867786)

TypeError: object of type 'int' has no len()

In [33]:


len("rishi","singh")

TypeError: len() takes exactly one argument (2 given)

# Tokens

A token is the smallest individual unit in a python program. All statements and instructions in a program are built with tokens.

- Keywords : are special words which have a unique meaning and purpose in Python. They cannot be used as variable names, function names etc.

- Identifiers : names given to any variables, class , function , method, etc

- Literals : are simply the raw data that is assigned into the variables

1. String Literal

2. Numeric Literal
       
       A.Integer
       b.Float
       c.Complex

3. Boolean Literal

4. Special Literal(None)

5. Literal Collections
   
       a. List Literals
       b.Tuple Literal
       c.Dictionary literal
       d.Set Literal

- Operators

- Punctuators : are symbols that are used to structure the statements. Some commonly used punctuators                 are: ',',#,\,( ),{ }, [ ],@,:

# Operators
are symbols which are used to perform a specfic operations between values.

1. Arithmetic operators
2. Comparision operators
3. Assignment operators
4. Logical operators
5. Bitwise operators
6. Membership operators
7. Identity operators

# Precedence (BODMAS)

- ( )
- **
- *, /, //, %
- +, -

In [4]:
# Arithmatic operators +   -   *   /   //   **   %

In [14]:
2*3%4+5//10

2

In [7]:
# Comparision operators ==  !=  <  >  >=  <=

x = 10; y = 25

print(x == 25) # equals
print(x != 25) # not equal
print(x < 25) #less than
print(x > 25) # greater than
print(x >= 25) # greater than or epual to
print(x <= 25) # less than or equal to

False
True
True
False
False
True

In [8]:
# Logical operators (mostly used to combine comparison)-  and     or      not
x = 15; y = 20
x <= y and x>=y

False

# and operator table
Both the comparision must be true to get True

- True and True   =   True
- True and false  =   False
- False and True  =   False
- False and False =   False

# or operator table
One of the comparision should be true to get True

- True or True   = True
- True or False  = True
- False or False = False
- False or True  = True

In [1]:
0 and False

0

In [2]:
False and 0

False

In [6]:
0 or True

True

In [5]:
5 and False

False

In [3]:
5 and True

True

In [4]:
True and 5

5

In [2]:
True and False or True and True or False and False

True

In [3]:
True or False and True or True and False or False

True

In [4]:
True and False or True and True or not False and False

True

In [5]:
True and False or True and True or not True and False

True

In [8]:
True and False or True and True and not False or False

True

# not operator
it doesn't combine comparision. It reverses the answer for True or False

# Identity operator-       is             is not
Checks whether two variables or objects share the same memory location or not

In [1]:
x = 23
y = 44
print(id(x))
print(id(y))
print(x is y) # ckecks if x and y share same memory location or not

2362549797808
2362549798480
False

In [2]:
x = 23 # another ex with same value
y = 23
print(x is y)

True

In [7]:
x = 12; y = 34
print(id(x))
print(id(y))
print(x is not y) # checking whether x is not sharing same memory location with y

2638786003536
2638786004240
True

In [5]:
a = [12] # list with same value doesnt have same memory location
b = [12]
print(a is b) # Checking whether a and b share same memory location
print(a == b) # Checking whether a and b share same value

print(id(a))
print(id(b))

False
True
2362630689088
2362630896512

# Membership Operators-          in                 not in
Membership operators check whether a value is present in a sequence of values
Sequence - Strings, Lists, Tuples, Sets, Dictionaries

In [7]:
a = "Data Science"
b = "Data"
a in b

False

In [8]:
c = [1,2,3,4]
d = 4 # checking if integer 4 is a member of variable c
d in c

True

In [10]:
c = [1,2,3,4]
d = [4]
d in c # checking for a list in list c with value 4

False

In [14]:
c = [1,2,3,[4]]
d = [4]
d in c  # checking for a list in list c with value 4

True

# Bitwise Operators

In [15]:
#- &: Bitwise and
#- |: BItwise or
#- ^: BItwise xor
#- ~: Bitwise not
#- <<: Left shift
#- >>: Right shift

# Assignment Operators

In [17]:
# Assignment op. - = += -= *= /= //= **= %= |= &= ^= >>= <<=  (~= this is not an assignment operator)

x = 8
x -= 7 # this is equals:  x = x - 7
x

1

In [18]:
x += 6 # this is equals x = x + 6
x

7

In [16]:
x = 32; y = 20

print(not x==y) # False
print(not x>y) # True
print(not x!=y) # True
print(not x>=y) # True
print('\n')
print(not False)
print(not True)

True
False
False
False


True
False

In [19]:
print(not x)
print(not y)

False
False

# Ques:
Take two value as input from the user in variables a and b. Swap the values of a and b

In [9]:
A = int(input('Enter a number for A: '))
B = int(input('Enter a number for B: '))
print('value for A =', A-A+B)
print(A)

Enter a number for A: 10
Enter a number for B: 50
value for A = 50
10

In [1]:
A = int(input('Enter a number for A: '))
B = int(input('Enter a number for B: '))
C = (A-A+B)
B = (B-B+A)
A = C
print('value for A = ',A)
print('value for B = ',B)

Enter a number for A: 20
Enter a number for B: 50
value for A =  50
value for B =  20

In [10]:
A = input('Enter a number for A: ')
B = input('Enter a number for B: ')
C = A.replace(A,B)
B = B.replace(B,A)
A=C
print("Value for A =",A)
print("Value for B =",B)

Enter a number for A: 24
Enter a number for B: 56
Value for A = 56
Value for B = 24

In [3]:
A = int(input("Enter a number for A: "))
B = int(input("Enter a number for B: "))
C = B*1
B = A*1
A = C
print(A)
print(B)

Enter a number for A: 20
Enter a number for B: 40
40
20

In [11]:
A = input('Enter a number for A: ')
B = input('Enter a number for B: ')
C = (A+'\r'+B)
B = (B+'\r'+A)
A = C
print(A)
print(B)

Enter a number for A: 10
Enter a number for B: 20
20
10

In [9]:
x = 'rishi'
print('hello my name is '+x)

hello my name is rishi

In [17]:
a = input('enter a value for a: ')
b = input('enter a value for b: ')
c = b.split()
b = a.split()
a = c
print('\n')
print('value for a = ',a)
print('value for b = ',b)

enter a value for a: 34
enter a value for b: 45


value for a =  ['45']
value for b =  ['34']

In [3]:
24%95

24

In [4]:
25%95

25

In [1]:
25//95

0

In [21]:
# Arjun Sir Solution 

A = input('value for a = ')
B = input('value for b = ')
X = A + B
P = X.split(A)
print(P)
print(P[1])
Q = X.split(B)
print(Q)
print(Q[0])
B = Q[0]
A = P[1]
print(A,B)

value for a = rishi
value for b = rohit
['', 'rohit']
rohit
['rishi', '']
rishi
rohit rishi

In [1]:
a = ['rishi', 'gaurav', 'rohit']
a[1]
a.upper()

AttributeError: 'list' object has no attribute 'upper'

In [20]:
True is False is False is not True is False

False

In [ ]:
g = ('hello my name is rishi')